<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Projeto SOLID Python</title>
</head>
<body>
    <h1>Calculadora IMC</h1>  
    <form action="/imc_result" method="POST">
        <div id="input-box">
            Altura em centímetros: <input id="height" name="height" type="number" placeholder="1.74" step="0.01" required/>
            <br/>
            Peso em quilos: <input id="weight" name="weight" type="number" placeholder="82" required/>
        </div>
        <br>
        <input type="submit" name="Calculate IMC"/>
    </form>
</body>
</html>